.vercel
.env*
/node_modules/
/.next/
/.tauri-build/
/src-tauri/target/
*.tsbuildinfo

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
